h1{
    color: rgb(33,
        150,
        243);
}

#defination{
    color: black;
    font-size: 20px;
}

.moreDetails{
    text-decoration: none;
    color: green;
}

#google{
    color: rebeccapurple;
}